{{!< default}}

<article id="id-container">
    <h2>照片</h2>
    <div class="cls-container-top">
        <div class="cls-container-bottom">
            <div class="cls-container-content cls-family-gallery">
                <ul>
                    {{#each photos}}
                    <li>
                         <img src="/image/{{album}}/{{photo}}" alt="{{photo}}">
                         <input type="hidden" value="{{index}}">
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!--
            <div class="cls-container-content cls-family-show">
                <div class="rslides_container">
                    <ul class="rslides" id="id-family-slider">
                        {{#each photos}}
                        <li>
                            <img src="/image/{{album}}/{{photo}}" alt="{{photo}}">
                            <p class="caption">{{photo}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            -->
        </div>
    </div>
</article>


<script>
    $(function () {
        $("#id-family-slider").responsiveSlides({ auto: false, nav: true, speed: 500 });
    });
</script>
